#containter {
width: 700px;
  height: 400px;
  background-color: blanchedalmond;
}

#header {
width: 540px;
height: 100px;
background-color: chocolate;
}

#main {
width: 450px;
height: 360px;
background-color: red;
}

#footer {
width: 459px;
height: 396px;
background-color: green;
}
